# Git ignore sirve para indicar a git, que ficheros debe de hacer seguimiento o no
# y por tanto no subir a github

# ---- variables
.env

# ---- archivos del sistema
Thumbs.db

# ---- directorios
dist/
build/

# ---- dependencias
node_modules/

# logs
#npm-debug.log*
