version: "3.9"

services:
  backend:
    build: .
    container_name: chatbot_backend
    ports:
      - "3000:3000"
    depends_on:
      - ollama_rag
    environment:
      - OLLAMA_HOST=http://ollama_rag:11434
    volumes:
      - .:/app

  ollama_rag:
    image: ollama/ollama:latest
    container_name: ollama_rag
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped

volumes:
  ollama_data:
